.navbar-brand{
    margin-left: 20px;
    margin-right: 20px;
}

.btn-outline-dark{
    --bs-btn-color: #b6bbc0;
    --bs-btn-border-color: #6c6f7200;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3b3c3d;
    --bs-btn-hover-border-color: #6c6f7200;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3b3c3d;
    --bs-btn-active-border-color: #6c6f7200;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #6c6f72;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c6f72;
    --bs-gradient: none;
}
.btn-outline-dark{
    --bs-btn-hover-bg: #31363b;
}

.dropdown-menu{
    --bs-body-bg: #31363b;
    --bs-body-color: #c4c6c7;
    --bs-tertiary-bg: #373c42;
    --bs-dropdown-link-active-bg: #484e57;
}

.href-but{
    text-decoration: none;
}

.navbar {
    --bs-navbar-padding-y: 2px;
}
