.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
   * This padding sets alignment of the nested nodes.
   */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 10px;
}

/*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
.example-tree div[role=group]>.mat-tree-node {
  padding-left: 40px;
}

mat-tree {
  background: transparent;
}

mat-tree-node{
  color: blanchedalmond;
}

H2{
  color: rgb(201, 184, 159);
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.mat-icon-rtl-mirror{
  color: rgb(201, 184, 159);
}

button{
  appearance: none;
  display: inline-flex; 
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
  color: rgb(201, 184, 159);
  font-size: 20px;
}
button:hover{
  color: rgb(221, 204, 178);
}

.btnCreate{
  background-color: rgb(82, 151, 61);
}


